/* all */

 *{
    box-sizing: border-box; 
    /* outline: 1px solid green;  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

/* body */

body{
    margin-left: 8rem;
    margin-right: 8rem;
    height: 2000px;
}

/* container to give the body a dim brightness */
.shadowContainer{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
}

/* header for desktops */

header.desktop{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1.5px solid  grey;
    margin-bottom: 4.5rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 4;
}
/* logo */
.logo{
    position: relative; /* for proper positioning */
    top: 0.2rem;
}

/* nav for desktops */

.nav{
    display: inline;
    padding-left: 1rem;
}
.nav li{
    display: inline;
    list-style-type: none;
    padding: 0.8rem;
    padding-bottom: 1.8rem;
}
/* page the user is currently on */
.navActive{
    border-bottom: 4px solid  hsl(26, 100%, 55%);
    font-weight: 700 !important;
}
#navActive{
    color: black !important;
}
.nav li a{
    text-decoration: none;
    color: rgb(102, 101, 101);
}
.nav li a:hover{
    color: black;
}
/* user profile and cart */
.cartAndProfile{
    display: inline;
    float: right;
    position: relative;
    bottom: 0.9rem;
}
#shoppingCart{
    cursor: pointer;
}
/* cart items counter */
.shoppingCartItemNumbers{
    border-radius: 50%;
    border: 0;
    background-color: orange;
    color: white;
    position: relative;
    right: 1rem;
    top: -1rem;
    padding-bottom: 2px;
    display: none; 
}
img[alt=user-profile]{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 0.5rem;
    margin-left: 1.5rem;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
img[alt=user-profile]:hover{
    border: 0.2rem solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

/* nav for mobile */
.mobileNav{
    height: 100%;
    width: 55%;
    position: fixed;
    z-index: 5;
    margin-top: 0;
    background-color: white;
    display: none;
    padding-left: 1.8rem;
}
.mobileNav li{
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mobileNav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.closeBtn{
    margin-top: 0.7rem !important;
    margin-bottom: 2rem !important;
}

/* mobile header hidden by default */

header.mobile{
    display: none;
    margin-bottom: 0.6rem;
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* menu button */
img[alt=open-menu]{
    height: auto;
}
.logoMobile{
    height: auto;
    margin-left: 0.5rem;
}
.shoppingCartItemNumbers2{
    right: -1rem;
}
.cartAndProfileMobile{
    float: right;
    position: absolute;
    right: 0.5rem;
    top: 0;
}
.cartAndProfileMobile #shoppingCart {
    position: absolute;
    top: 0.8rem;
    right: 2.5rem;
}
img[alt=user-profile-mobile]{
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.4rem;
    margin-left: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
img[alt=user-profile-mobile]:hover{
    border: 0.2rem solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

/* cart items. hidden by default */
/* cart items empty */

.cartItems{
    width: 15rem;
    height: 10rem;
    background-color: white;
    padding: 0.8rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
    position: fixed;
    right: 8rem;
    top: 4rem;
    display: none;
    z-index: 5;
}
.cartItems .carth4{
    border-bottom: 1.5px solid grey;
    padding: 0.5rem;
}
.carth4 h4{
    margin: 0;
    text-align: left;
}
.carth5{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.carth5 h5{
    color: grey;
}

/* full cart */

.cartItemsFull{
    width: 15rem;
    height: max-content;
    background-color: white;
    padding: 0.8rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    position: fixed;
    right: 8rem;
    top: 4rem;
    display: none;
    z-index: 5;
}
.cartItemsFull .carth4Full{
    border-bottom: 1.5px solid grey;
    padding: 0.5rem;
}
.carth4Full h4{
    margin: 0;
    text-align: left;
}
.cartItemsFullSect{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
/* image/product thumbnail */
.cartItemsFullSect .imgThumbnailcart{
    width: 20%;
    height: 100%;
    border-radius: 0.5rem;
}
.cartItemsDivSect{
    width: 60%;
    line-height: 1.0;
}
.cartItemsDivSect span{
    font-size: medium;
}
.cartitemsh5{
    margin: 0;
    color: grey;
}
#deleteBtn{
    width: 10%;
    height: 100%;
    cursor: pointer;
}
.cartItemsbtn{
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    width: 85% !important;
    margin: auto;
}

/* main contents/section */

.mainContent{
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
}
 .imgSection{
    width: 42%;
} 
/* images */
.productImg{
    width: 90%;
    height: 80%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
    margin-bottom: 1.5rem; 
}
/* left and riught next image buttons */
.nextBtnLeft, .nextBtnRight{
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.nextBtnLeft:hover, .nextBtnRight:hover{
    color: orangered;
}
/* thumbnails */
.thumbnailsection{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imgThumbnail{
    width: 20%;
    display: inline;
    border-radius: 15%;
    height: auto;
}
/* active(when the user is viewing it) */
.active{
    opacity: 0.5;
    border: 2px solid orangered;
}
.imgThumbnail:hover{
    opacity: 0.5;
}

/* 'about image' contents */

.imgContentSection{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-right: 0;
}
/* image sect texts */
.imgContentSectionh5{
    color: orangered;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.7rem;
}
.imgContentSectionh2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-top: 0;
    line-height: 1;
}
.imgContentSectionh5.normal{
    color: gray;
    text-transform: none;
    margin-bottom: 1.5rem;
}
#spanPrice{
    margin-right: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}
#spanDiscount{
    background-color: rgb(248, 225, 185);
    border-radius: 10%;
    color: orangered;
}
#spanDiscountAmount{
    text-decoration: line-through;
    color: grey;
}
#spaceToggle{
    display: block;
}

/* functionalities div */

.functionalities{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.functionalities .spanWrap{
    padding: 0.7rem;
    background-color: hsl(223, 64%, 98%);
    display: inline;
    border-radius: 0.5rem;
    width: 32%;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
/* plus and minus button */
.spanWrap .btn{
    background-color: hsl(223, 64%, 98%);
    border: none;
    color: orangered;
    font-weight: 800;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    border-radius: 20%;
    padding-left: 10%;
    padding-right: 10%;
}
.spanWrap .btn:hover{
    color: hsl(26, 100%, 55%);
    background-color: rgb(189, 188, 188);
}
.cartItemsCounter{
    padding-left: 0;
    padding-right: 0;
}
.addToCartBtn{
    background-color: orangered;
    color: white;
    border: 0;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 orange;
    width: 60%;
}
.addToCartBtn img{
    position: relative;
    top: 5px;
    fill:  white;
}
.addToCartBtn:hover{
    background-color: hsl(26, 100%, 55%);
}
.addToCartBtn:active{
    width: 50% !important;
}

/* lightbox section */

.lightBox{
    width: 35%;
    position: fixed;
    height: 60%;
    left: 35%;
    bottom: 30%;
    z-index: 8;
    opacity: 1.0;
    display: none;
}
#closeLightBox{
    float: right;
    margin: 0.8rem;
    display: block;
    cursor: pointer;
    border: 1px solid black;
}
#productLightBox{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}
.thumbnailsection2{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around !important;
}
.thumbnailsection2 .imgThumbnail{
    width: 17% !important;
}
.nextBtnLeft2, .nextBtnRight2{
    display: inline-block;
    border: 0.5px solid black;
}
.nextBtnLeft2:hover, .nextBtnRight2:hover{
    border-color: orangered;
}
.nextBtnLeft2{
    top: 14rem;
    left: -1rem;
}
.nextBtnRight2{
    top: 14rem;
    right: -1rem;
}
.nextBtnLeft2 img, .nextBtnRight2 img{
    position: absolute;
    top: 0.6rem;
    height: 0.8rem;
}
.nextBtnLeft2 img{
    left: 0.5rem;
}
.nextBtnRight2 img{
    right: 0.7rem;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center; 
    margin-top: 5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* adjusting layout to fit content nicely */

 @media screen and (max-width: 970px) {
    body{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media screen and (max-width: 870px) {
    body{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .nav{
        padding-left: 0;
    }
    .cartItems, .cartItemsFull{
        right: 3rem;
    }
}
@media screen and (max-width: 769px) {
    body{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nav li{
        padding-left: 0;
    }
    .nav{
        padding-left: 1rem;
    }
    .lightBox{
        width: 50%;
        left: 28%;
    }
}
@media screen and (max-width: 738px) {
    body{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    header.desktop{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    img[alt=user-profile]{
        margin-left: 0.5rem;
    }
    .nav{
        padding-left: 0.5rem;
    }
    .nav li{
        padding-right: 0.2rem;
    }
    .mainContent{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .productImg{
        width: 100%;
    }
    .thumbnailsection{
        width: 100%;
    }
    .imgContentSection{
        margin-top: 0;
    }
    .logo {
        width: 25%;
    }
    .cartItems, .cartItemsFull{
        right: 1rem;
    }
    .lightBox{
        width: 65%;
        left: 7rem;
    }
}

/* for small screens */

@media screen and (max-width: 540px) {
    header.desktop{
        display: none;
    }
    .mobileNav{
        display: none;
        z-index: 9;
    }
    header.mobile{
        display: block;
        z-index: 4;
    }
    .mainContent{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    .imgContentSection{
        width: 90%;
        margin: auto;
    }
    .imgSection{
        width: 100%;
    }
    .productImg{
        height: 20rem;
        border-radius: 0;
        width: 100%;
    }
    /* left and right next image buttons  */
    .nextBtnLeft, .nextBtnRight{
        display: inline-block;
    }
    .nextBtnLeft{
        top: 14rem;
        left: 1rem;
    }
    .nextBtnRight{
        top: 14rem;
        right: 1rem;
    }
    .nextBtnLeft img, .nextBtnRight img{
        position: absolute;
        top: 0.6rem;
        height: 0.8rem;
    }
    .nextBtnLeft img{
        left: 0.5rem;
    }
    .nextBtnRight img{
        right: 0.7rem;
    }
    .thumbnailsection{
        display: none;
    }
    .imgContentSectionh2{
        font-size: 1.8rem;
    }
    #spanDiscountAmount{
       float: right;
    }
    #spaceToggle{
        display: none;
    }
    .functionalities{
        flex-direction: column;
    }
    .functionalities .spanWrap{
        width: 94%;
        margin: auto;
        margin-bottom: 1rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    .spanWrap .btn{
        padding-left: 5%;
        padding-right: 5%;
    }
    .addToCartBtn{
        width: 98%;
        margin: auto;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        font-weight: bold;
    }
    .cartItems, .cartItemsFull{
        width: 97%;
        right: 0.5rem;
        top: 4.8rem;
        z-index: 3;
    }
    .cartitemsh5{
        margin-bottom: 0.5rem;
    }
    .lightBox{
        display: none;
    }
}